body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.firstdiv{
    background-image: url("https://wallpaperaccess.com/full/1428200.jpg") ;
    background-size: cover;
    background-position: center;
    height: 540px;
    margin-bottom: 70px;
    
    
}
.nav{
    padding: 15px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
    
}
.nav>div{
    display: flex;
    gap: 40px
    ;
}
.nav>div>p{
    color: #10c66f;
    
}
.logo{
    width: 62px;
    height: 62px;
    border-radius: 35px;
}
.lownav{
    width: 80%;
    margin: auto;
}
button{
    padding: 10px 12px 10px 12px;
    background-color: #10c66f;
    color: white;
    border: none;
    border-radius: 6px;
}
.lownav>p, .lownav>h1{
    color: white;
}
.lownav>h1{
    font-size: 52px;
    font-family:'Times New Roman', Times, serif;
}
.lownav>p{
    width: 48%;
}
/*  */

.seconddiv{
    width: 65%;
    margin: auto;
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
}
.seconddiv>p{
    line-height: 28px;
}
.seconddiv>h2, .thirddiv>h1 , .fourthdiv>h2{
    color: #10c66f;
    font-size: 38px;
    font-weight: lighter;
}
.cards{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    text-align: left;

    
}
.green{
    color: #10c66f;
}
.cards>div>p{
    margin-left: 25px;
    font-size: 13px;
    
}
.cards>div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cards>div>img{
    width: 100%;
    position: relative;
    border-radius: 8px;
    height: 255px;
}

/*  */

.thirddiv{
    text-align: center;
    align-items: center;
    width: 68%;
    margin: auto;
    margin-bottom: 100px;
}
.thirddiv>p{
    width: 80%;
    margin: auto;
    line-height: 32px;
}
.round{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.round>div>img{
    height: 125px;
    border-radius: 58px;
    margin-top: 20px;
}
.special{
    margin-top: -30px;
    height: 295px;
    width: 200px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;  
}
.special>img{
    width: 70%;
    
}
.special>div{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
}
.special>div>img{
    width: 22px;
    height: 22px;
}
.special>p{
    font-size: 15px;
}

/*  */

.fourthdiv{
    text-align: center;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-bottom: 100px;
}
.fourthdiv>p{
    width: 70%;
    margin: auto;
    line-height: 32px;
    margin-bottom: 30px;
}
.lastcard{
    
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    
}
.lastcard>div{
    display: flex;
    gap: 12px;
}
.lastcard>div{
    height: 245px;
    background-color: #eaeded;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
   
}
.lastcard>div>img{
    width: 40%;
    height: 100%;
}
.lastcard>div>div>p{
    font-size: 12px;
}
.lastcard>div>div>h4{
    font-weight: bold;
    font-size: 14px;
}

/*  */
.fifthdiv{
    margin: auto;
    width: 70%;
    background-color: #eaeded;
    margin: auto;
    margin-bottom: 60px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.fifthdiv> div{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.fifthdiv>div>div>div{
    display: flex;
    justify-content: space-evenly;
}
.fifthdiv>div>div>div>img{
    width: 22px;
    height: 22px;
}
.fifthdiv>div>div>div>p{
    line-height: 0px;
    margin-left: 8px;
}
/*  */
.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #10c66f;
}
.footer>div>p, .footer>div>h3{
    color: white;
}
.footer>div>img{
    margin-top: 12px;
    width: 82px;
    height: 82px;
    padding: 20px;
    border-radius: 57px;
    margin-left: -10px;
}
.llogo{
    margin-top: -5px;
    display: flex;
    gap: 10px
    ;
    align-items: center;
}
.llogo>img{
    height: 22px;
    width: 22px;
}

.secondlast{
    margin-top: 30px;
}
.end{
    margin-top: 70px;
}
.end>input{
    padding: 7px 33px 7px 33px;
}
.end>div{
    margin-top: 9px;
    background-color: white;
    padding: 1px ;
}
.end>div>p{
    font-size: 12px;
    text-align: center;
}